/*Resposive Media query*/
@media (max-width: 2000px) {
  .navbar .max-width .menu-btn {
    display: none;
    z-index: 999;
  }
}
@media (max-width: 1920px) {
  .home .home-content .btn {
    font-size: clamp(0.75rem, 0.5739rem + 0.5634vw, 1.25rem);
  }
}
@media (max-width: 1104px) {
  .about .about-content .left-content img {
    height: 350px;
    width: 350px;
  }
  .goal .goal-content .right img {
    width: 350px;
    transition: all 0.5s ease-in-out;
  }
}
@media (max-width: 1250px) {
  .home .home-content {
    column-gap: 50px;
  }
  .home .home-content .left-content .btn {
    font-size: 17px;
  }
  .goal .goal-content .right-content img {
    width: 350px;
  }

  .goal .goal-content,
  .about .about-content,
  .skills .skills-content,
  .contact .contact-content {
    padding: 0 70px;
    max-width: 1100px;
  }
  .skills .skills-content {
    grid-template-columns: 1fr 1fr;
    column-gap: 40px;
    width: auto;
    padding: 0px;
  }
}
@media (max-width: 947px) {
  .navbar .max-width .menu-btn {
    display: block;
    z-index: 999;
  }
  .navbar .menu {
    gap: 50px;
    position: absolute;
    height: 100vh;
    width: 50%;
    right: -100%;
    top: 0;
    background-color: rgba(255, 255, 255, 0.933);
    text-align: center;
    padding: 150px 120px;
    transition: all 0.5s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 4;
  }
  .navbar .menu li a {
    color: black;
  }
  .navbar .menu.active {
    right: 0;
  }
  .navbar .menu li a::after {
    background-color: rgba(143, 18, 18, 0.174);
  }
  .home {
    height: auto;
  }
  .home .home-content .left-content {
    text-align: center;
  }
  .home .home-content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
    margin: 300px auto 80px auto;
    z-index: 2;
  }
  .home .home-content .left-content .btn {
    padding: 5px 20px;
  }
  .home .home-content .right-content .logo {
    opacity: 0.2;
  }
  .home .home-content .right-content:hover .logo {
    left: 80%;
  }
  .home .home-content .right-content:hover .pic {
    left: 20%;
  }

  .wrapper {
    height: 800px;
  }
  .wrapper::after {
    z-index: -1;
  }
  .wrapper .content {
    width: 500px;
    z-index: 2;
  }
  .wrapper .content .head {
    font-size: 22px;
  }
  .wrapper .content .head,
  .wrapper .content .list {
    flex-direction: column;
    height: auto;
    width: auto;
  }
  .wrapper .content .list {
    align-items: center;
  }
  .wrapper .content .list .card {
    width: 100%;
    padding: 12px 30px;
  }
  .wrapper .content .list .card div {
    text-align: center;
  }
  .navbar .max-width,
  .home .home-content,
  .about .about-content,
  .goal .goal-content,
  .contact .contact-content {
    max-width: 930px;
  }
  .about .about-content {
    display: flex;
    flex-direction: column;
  }
  .about .about-content .left-content,
  .about .about-content .right-content {
    width: 100%;
    margin-bottom: 20px;
  }
  .about .about-content .left-content {
    display: flex;
    justify-content: center;
  }

  .about .about-content .right-content p,
  .about .about-content .right-content .title {
    margin: 15px auto;
    text-align: center;
    text-align: justify;
  }
  .about .about-content .right-content .title {
    text-align: center;
  }
  .goal .goal-content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .goal .goal-content .left,
  .goal .goal-content .right {
    width: 100%;
  }
  .skills .skills-content {
    flex-direction: column;
  }
  .portfolio .project .content p {
    text-align: justify;
  }
}
@media (max-width: 690px) {
  .navbar .menu {
    padding: 150px 20px;
  }
  .home .home-content,
  .wrapper,
  .wrapper .content,
  .about .about-content,
  .goal .goal-content,
  .skills .skills-content,
  .portfolio .project,
  .contact .content {
    padding: 0 23px;
  }
  .navbar .max-width {
    padding: 5px 25px;
  }
  .home {
    height: 975px;
  }
  .home .home-content .right-content img {
    width: 400px;
  }

  .wrapper .content .head {
    font-size: 21px;
    height: 62px;
  }
  .wrapper .content .head .line {
    margin-top: 2px;
    height: 2px;
  }
  .skills .container {
    width: 85%;
  }
  .skills .skills-content {
    grid-template-columns: 1fr;
  }
  .portfolio .project {
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  .portfolio .project .img-container,
  .portfolio .project .content {
    width: 100%;
  }
  .portfolio .project .img-container img {
    width: 100%;
  }
  .portfolio .project .content {
    padding: 0;
  }
  .contact .content {
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
  }
  .contact .content form,
  .contact .content .right {
    width: 80%;
    align-items: baseline;
  }
}
@media (max-width: 550px) {
  .navbar .menu {
    width: 100%;
    border-bottom-left-radius: 0px;
    transition: all 0.2s ease-in-out;
    position: absolute;
    padding: 150px 100px;
  }
  .navbar .menu li a:hover::after {
    width: 100%;
  }
  .home {
    height: 923px;
  }
  .home .home-content .right-content {
    width: 350px;
  }
  .home .home-content .right-content img {
    width: 100%;
  }
  .home .home-content .right-content:hover .logo {
    left: 70%;
  }
  .home .home-content .right-content:hover .pic {
    left: 30%;
  }
  .wrapper .content {
    width: 430px;
  }
  .wrapper .content .head {
    font-size: 18px;
    padding: 10px;
  }
  .wrapper .content .head .line {
    height: 2px;
    margin-top: 3px;
  }
  .contact .content form,
  .contact .content .right {
    width: 100%;
  }
}
@media (max-width: 472px) {
  .navbar .menu {
    padding: 150px 5px;
  }
  .wrapper .content {
    width: 375px;
    padding-top: 12px;
  }
  .wrapper .content .head {
    height: 70px;
    padding: 0px;
    font-size: 18px;
  }
  .wrapper .content .head .line {
    width: 20%;
    height: 1px;
  }
  footer p {
    font-size: 13px;
  }
}
@media (max-width: 422px) {
  .home {
    height: 895px;
  }
  .home .home-content .right-content img {
    width: 320px;
  }

  .wrapper .content .head {
    font-size: 17px;
  }
  .about .about-content .left-content img {
    width: 300px;
  }
  .goal .goal-content .right img {
    width: 300px;
  }
}
@media (max-width: 417px) {
  .navbar .logo strong {
    font-size: 30px;
  }
  .home {
    height: auto;
  }
  .home .home-content {
    margin-top: 180px;
    margin-bottom: 120px;
  }
  .home .home-content .right-content {
    width: 280px;
    height: 280px;
  }
  .home .home-content .right-content:hover .logo {
    left: 60%;
  }
  .home .home-content .right-content:hover .pic {
    left: 40%;
  }
  .wrapper .content .list {
    padding-left: 0px;
    padding-right: 0px;
  }
  .wrapper .content .list .card {
    padding: 12px 0px;
  }
  .wrapper .content .list .card div {
    text-align: justify;
  }

  .skills .container,
  .skills .skills-content,
  .contact .content {
    padding: 0px;
  }
  .skills .container {
    width: 90%;
  }
  .contact .content {
    padding: 10px;
  }
}

@media (max-width: 300px) {
  .about .about-content .left-content img {
    width: 230px;
  }
  .goal .goal-content .right img {
    width: 230px;
  }
  .home .home-content {
    padding: 0;
    width: 100%;
  }
  .home .home-content .left-content,
  .home .home-content .right-content {
    width: 100%;
  }
  .home .home-content .right-content img {
    width: 100%;
  }
}

@media (max-width: 330px) {
  .about .about-content .left-content img {
    width: 200px;
  }
  .goal .goal-content .right img {
    width: 200px;
  }
  .home {
    height: auto;
  }
  .home .home-content {
    margin-bottom: 80px;
  }
  .home .home-content .right-content {
    width: 200px;
    height: 200px;
  }
  .home .home-content .right-content img {
    width: 100%;
  }
  .wrapper {
    height: auto;
  }
  .contact-content .left-content .left-details .details .icon img {
    width: 25px;
  }
  .wrapper .content {
    width: auto;
  }
  .contact .contact-content .left-content .left-details .details .info p {
    font-size: 12px;
  }

  footer p {
    font-size: 11px;
    text-align: center;
  }
}
